* {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
h1 {
  padding-top: 20px;
}

.button {
  text-align: center;
  padding-bottom: 40px;
}
button {
  text-align: center;
}
.box {
  text-align: center;
  width: 100%;
  margin: 0.5%;
  min-height: 300px;
  padding: 10px;
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); */
}
.box img {
  width: 100%;
}
